{% extends "base.html.twig" %}

{% block body %}
<main>
    <body>
        <div class="sticky">

        </div>
        <div class="container form">
            <div class="column">
                <form action="{{ SERVER_URI }}/add_form" id="form_product" method="POST"></form>
                <div class="row"> 
                    <div class="col-6">
                        <div class="label">
                            <label for="name" class="label">Mail</label>
                            <div class="control">
                                <input required class="input" type="text" name="email" id="email" value={{ u_mail }}>
                            </div>
                            <div id="check_mail" class="verif"></div>
                        </div>
                        <div class="label">
                            <label for="name" class="label">Nom</label>
                            <div class="control">
                                <input required class="input" type="text" name="firstName" id="name" value={{ u_first_name }}>
                            </div>
                            <div id="check_firstname" class="verif"></div>
                        </div>
                        <div class="label">
                            <label for="name" class="label">Prénom</label>
                            <div class="control">
                                <input required class="input" type="text" name="lastName" id="name" value={{ u_last_name }}>
                            </div>
                            <div id="check_lastname" class="verif"></div>
                        </div>
                        <div class="label">
                            <label for="name" class="label">Téléphone</label>
                            <div class="control">
                                <input required class="input" type="text" name="phone" id="name" value={{ u_phone }}>
                            </div>
                            <div id="check_phone" class="verif"></div>
                        </div>
                        <div class="label">
                            <label for="categorie" class="label">Catégorie</label>
                            <div class="control">
                                <div class="select is-medium is-fullwidth">
                                    <select name="categorie">
                                        <option selected="selected" disabled>Selectionnez une catégorie</option>
                                        {% for categorie in list_category %}
                                            <option value={{ categorie.c_name }}
                                                {% if categorie.c_name is same as(produit.categorie) %}
                                                    selected="selected"
                                                {% endif %}
                                            >{{ categorie.c_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="label">
                            <label for="price" class="label">Prix</label>
                            <div class="control">
                                <input required class="input is-medium" type="text" name="price" id="price" value={{ produit.price }}>
                            </div>
                            <div id="check_price" class="verif"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        
                        <div class="label">
                            <label for="picture_file" class="label">Images
                                {% if produit.picture %}
                                    <a href={{ "medias/ticket_achat/" ~ produit.picture }} target="_blank"><img src={{ "medias/ticket_achat/" ~ produit.picture }} alt="" width="50" height="50"></a>
                                {% endif %}
                            </label>
                            <div id="picture_file" class="file">
                                <label class="">
                                    <input type="file" class="" name="picture_file">
                                    <div class="">
                                        <div class="">
                                            <span class="fas fa-upload"></span>
                                        </div>
                                        <div class="file-label">
                                            Choisir un fichier...
                                        </div>
                                    </div>
                                    <div class="file-name">
                                        Aucun fichier selectionné
                                    </div>
                                </label>
                            </div><p><strong>Note : </strong>Formats autorisés : jpg, jpeg, png. Taille maximale : 5 Mo.</p>
                            <div id="check_picture" class="verif"></div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </body>
</main>
{% endblock %}
